.image{
    background-image: url(../../../assets/claudio-schwarz-294j9hG1N3w-unsplash.jpg);
    background-size: cover;
}
.swipe{
    animation: myAnim 1s ease 0s 1 normal forwards;
}
.image{
    animation: scaleLeft 5s ease 0s 1 normal forwards;
}
button:hover{
    animation: bounce 2s ease 0s 1 normal forwards;
  }

@keyframes scaleLeft {
    0% {
      transform: scale(1) translate(0, 0);
      transform-origin: 16% 16%;
    }
  
    100% {
      transform: scale(1.25) translate(-20px, -15px);
      transform-origin: top left;
    }
  }

  @keyframes bounce {
   0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
  }

@keyframes myAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: scale(7);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: scale(1);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: scale(1.5);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: scale(1.24);
    }
  
    89% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: scale(1.04);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }