<div id="app" class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 overflow-hidden">
  <div class="relative h-screen overflow-hidden bg-gray-900 ">

    <div
      class="relative min-h-screen  lg:flex lg:items-center lg:justify-center lg:w-full lg:py-20 lg:pl-8 lg:pr-8 bg-no-repeat">
      <div class="pb-16">
        <div class="px-6 pt-16 pb-12 md:max-w-3xl md:mx-auto lg:max-w-full lg:pt-0">

          <div class="mt-8 lg:mt-16 swipe relative">
            <h1 class="mt-2 text-4xl leading-tight xl:text-5xl xl:leading-none font-semibold font-display text-white">
              Interactive Application 
              <br class="hidden sm:inline"> 
              <span class="text-teal-400"> 
                We Ensure Safe
                Transport Informations 
              </span> 
            </h1>
            <p class="mt-3 text-lg max-w-xl lg:max-w-3xl text-gray-300 xl:text-2xl"> 
              Fully Trusted And Intuitive. 
            </p>
          </div>
          <div class="mt-10 swipe relative">
            <p class="text-base xl:text-lg font-medium text-white"> We give you an intresting experience . </p>
            <button type="button" routerLink="/crud"
              class="text-white my-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 shadow-3xl dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 lg:w-1/2 md:w-1/2 sm:w-full py-2.5 text-center mr-2 mb-2 ">
              Get Started
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image relative"></div>
</div>