.general-container::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    background-color: white;
    bottom: 0;
    left: 0;
  }
  .popupModal{
    animation: myAnim 1s ease 0s 1 normal forwards;
  }
  @keyframes myAnim {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: scale(0);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: scale(1);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: scale(0.7);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: scale(0.84);
    }
  
    89% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: scale(0.95);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }