<app-loading></app-loading>
<div id="app" class="min-h-screen text-gray-700 subpixel-antialiased p-6 ">
    <div class="container space-y-8 text-sm mx-auto">
        <div class="space-y-2">
            <div class="text-gray-700">Available Stops</div>
            <div class="flex items-center bg-gray-200 rounded-md">
                <div class="pl-2">
                    <svg class="fill-current text-gray-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path class="heroicon-ui"
                            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                    </svg>
                </div>
                <input
                    class="w-full rounded-md bg-gray-200 text-gray-700 leading-tight focus:outline-none py-2 px-2"
                    id="search" type="text" placeholder="Search Stops" [(ngModel)]="formValue">
            </div>
            <div class="w-full  table flex table-auto w-full leading-normal px-2">
                <thead class="uppercase text-gray-100 text-xs px-2 font-semibold ">
                    <tr class="hidden md:table-row bg-gray-800 rounded-lg px-2">
                        <th class="text-left p-4">
                            <p>Name </p>
                        </th>
                        <th class="text-left p-4">
                            <p>Address</p>
                        </th>

                        <th class="text-right p-4">
                            <p>Description</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </div>
            <div style="height: 500px ;" class="bg-white shadow-lg hover:shadow-xl rounded-md overflow-y-scroll">
                <table class="table flex table-auto w-full leading-normal">
                    <!-- <thead class="uppercase text-gray-600 text-xs font-semibold bg-gray-200">
                        <tr class="hidden md:table-row">
                            <th class="text-left p-3">
                                <p>Name </p>
                            </th>
                            <th class="text-left p-3">
                                <p>Address</p>
                            </th>

                            <th class="text-right p-3">
                                <p>Description</p>
                            </th>
                            <th></th>
                        </tr>
                    </thead> -->
                    <tbody class="flex-1 text-gray-700 sm:flex-none h-64 overflow-hidden w-full">
                        <tr *ngFor="let stop of stopData$ | filterStop:formValue"
                         (click)="showModal(stop?.relationships?.parent_station?.data?.id,stop?.attributes?.description)"
                            class="border-t first:border-t-0 flex cursor-pointer p-1 md:p-3 hover:bg-gray-100 md:table-row flex-col w-full flex-wrap">
                            <td class="p-1 md:p-3">
                                <label class="text-xs text-gray-500 uppercase  font-semibold md:hidden"
                                    for="">Name </label>
                                <p class="">{{stop?.attributes?.name}}</p>
                            </td>
                            <td class="p-1 md:p-3">
                                <label class="text-xs text-gray-500 uppercase  font-semibold md:hidden"
                                    for="">Address</label>
                                <p class="">{{stop?.attributes?.municipality}}</p>
                            </td>
    
    
                            <td class="p-1 md:p-3 md:text-right">
                                <label class="text-xs text-gray-500 uppercase  font-semibold md:hidden"
                                    for="">Description</label>
                                <div>{{stop?.attributes?.description}}</div>
                            </td>
    
                        </tr>
                      
                    </tbody>
                 
                    </table>
            </div>
        </div>
    </div>
</div>

 
<div *ngIf="modalBoolean" class="overflow-y-auto overflow-x-hidden bg-gray-800 opactity-75 fixed flex  justify-center items-center right-0 left-0 -top-0 z-50 justify-center items-center h-screen sm:h-screen"  style="opacity: .95;">
    <div class="relative px-4 w-full max-w-md  md:h-auto">
    
    <div class="relative bg-white popupModal rounded-lg shadow dark:bg-gray-700">
    
    <div class="flex justify-end p-2">
    <button type="button" (click)="modalBoolean = false" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal">
    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
    </div>
    
    <div class="p-6 pt-0 text-center">
  
    <h3 class="mb-5 text-sm font-normal text-gray-800 dark:text-gray-200">
     It is A Good Idea To Be Prepared Before Thinking To Travel. We Can Suggest Available Departure Times and Locations. Click Continue 
    </h3>
  
    <button type="button" (click)="predictionStop()"  class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 mr-2">
    Continue
    </button>
    </div>
    </div>
    </div>
    </div>
    