<div *ngIf="loadingService.loading$ | async" class="bg-gray-800 opacity-90 w-full h-screen absolute top-0 left-0 flex justify-center items-center">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
