<app-loading></app-loading>
<div>
        <!-- component -->
<div class="w-full max-w-screen-xl flex justify-center items-center h-screen  px-4">
    <div class="flex justify-center ">
        <div class="w-full max-w-md">
            <div class="bg-white shadow-md rounded-lg px-3 py-2 mb-4">
                <div class="block text-gray-700 text-lg font-semibold py-2 px-2">
                    Prediction List for {{name}}
                </div>
         
                <div class="w-full px-6 py-4 flex items-center justify-between bg-gray-800 text-white rounded-lg">
                    <p class="uppercase text-sm font-bold text-white">Arrival Time</p>
                    <p class="uppercase text-sm font-bold text-white">Departure Time</p>
                </div>
                <div class="py-3 text-sm h-96 overflow-y-auto">
                  <div  *ngFor="let prediction of predictionData$ " >
  
                    <div class="flex justify-between  text-gray-700  rounded-md px-2 py-2 my-2">
                  
                        <div class="text-sm font-normal text-gray-500 tracking-wide" >{{prediction?.attributes?.arrival_time | date:"medium"}} </div>
                        <div class="text-sm font-normal text-gray-500 tracking-wide" *ngIf="prediction?.attributes?.arrival_time === null"> waiting.... </div>
                        <div class=" font-medium px-2">{{prediction?.attributes?.departure_time | date:"medium"}}</div>
                        <div class="text-sm font-normal text-gray-500 tracking-wide" *ngIf="prediction?.attributes?.departure_time === null"> waiting.... </div>
                        <!-- <div class="text-sm font-normal text-gray-500 tracking-wide" *ngIf="route?.attributes?.type == 1">Heavy Rail</div> -->
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
          
</div>