<app-loading></app-loading>
<div class="general-container bg-gray-700 relative">
    <div class="w-full max-w-screen-xl flex justify-center px-4 h-screen">
        <div class="flex justify-center  items-center justify-center" style="z-index: 1;">
            <div class="w-full max-w-md">
                <div class="bg-white shadow-md rounded-lg px-3 py-2 mb-4">
                    <div class="block text-gray-700 text-lg font-semibold py-2 px-2">
                        Direction List
                    </div>
                    <div class="flex items-center bg-gray-200  mb-2 rounded-md">
                        <div class="pl-2">
                            <svg class="fill-current text-gray-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24">
                                <path class="heroicon-ui"
                                    d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                            </svg>
                        </div>
                        <input
                            class="w-full rounded-md bg-gray-200 text-gray-700 leading-tight focus:outline-none py-2 px-2"
                            id="search" type="text" placeholder="Search Direction" [(ngModel)]="formValue">
                    </div>
                    <div class="w-full bg-gray-700 py-4 px-6 rounded flex items-center rounded-lg justify-between">
                        <p class="text-sm font-bold text-gray-100">Direction </p>
                        <p class="text-sm font-bold text-gray-100">Destination</p>
                    </div>
                    <div class="py-3 text-sm h-96 overflow-y-auto">
                        <div *ngFor="let direction of (directionData$ | filterDirection:formValue) ">
    
                            <div (click)="showModal(direction?.attributes?.direction_names[0].split(' ')[0], direction?.attributes?.long_name)"
                                class="flex justify-between items-end cursor-pointer relative text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md px-2 py-2 my-2">
                                <div>
                                    <span class="flex h-3 w-3 relative">
                                        <span class="animate-ping absolute inline-flex h-full w-full rounded-full opacity-75" [ngStyle]="{background: '#'+direction?.attributes?.color}"></span>
                                        <span class="relative inline-flex rounded-full h-3 w-3 " [ngStyle]="{background: '#'+direction?.attributes?.color}">
                                        </span>
                                    </span>
                                <div class=" font-sm px-2 text-left">{{direction?.attributes?.direction_names[0]}} </div>
                                </div>
                                <div class="text-sm font-normal text-left text-gray-500">
                                    {{direction?.attributes?.direction_destinations[1]}}</div>
                                <!-- <div class="text-sm font-normal text-gray-500 tracking-wide" >{{direction?.attributes?.long_name}}</div> -->
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="modalBoolean"
    class="overflow-y-auto overflow-x-hidden bg-gray-800 opactity-75 fixed flex  justify-center items-center right-0 left-0 -top-0 z-50 justify-center items-center h-screen sm:h-screen"
    style="opacity: .95;">
    <div class="relative px-4 w-full max-w-md  md:h-auto">

        <div class="relative bg-white popupModal rounded-lg shadow dark:bg-gray-700">

            <div class="flex justify-end p-2">
                <button type="button" (click)="modalBoolean = false"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                    data-modal-toggle="popup-modal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

            <div class="p-6 pt-0 text-center">

                <h3 class="mb-5 text-sm font-normal text-gray-800 dark:text-gray-200">
                    We Can Help You Know Were You Can Meet The Incoming Bus. Or Choose to Know It's Direction?
                </h3>

                <button type="button" (click)="predictionNavigator()"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 mr-2">
                    Direction
                </button>

            </div>
        </div>
    </div>
</div>